$body-color: #3a3f4f;
$white-text: #ddd;
$song-background-color: #818594;
$design-background-color: #99d;
$song-title-color: #ccd3ef;
$verse-number-color: #99a;
$primary-button-color: #3E4890;

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $body-color;
  color: $white-text;
}

.controller {
  height: 100%;
  padding: 25px;
}

.workspace {
  flex: 1;

  .tabs {
    .tab {
      flex: 1;
      padding: 9px 0;
      text-align: center;
      font-size: 16px;

      &.setlist {
        background-color: $song-background-color;
      }
  
      &.design {
        background-color: $design-background-color;
      }
    }
  }

  .setlist-content {
    flex: 1;
    padding: 0 20px;
    background-color: $song-background-color;

    .add-song {
      margin-bottom: 20px;
      padding: 15px 0 25px;
      border-bottom: solid 2px #aaa;
    }
  
    .heading {
      margin: 10px 0;
      font-size: 16px;
      color: #c8c8e5;
    }
    
    .form-control {
      margin: 10px 0;
      border-radius: 0;
      
      &::placeholder {
        color: #bbb;
      }
    }
  
    a {
      text-decoration: underline;
      color: $white-text;
    }
  
    .setlist {
      .song {
        cursor: pointer;
        margin-bottom: 10px;
        padding: 3px 7px;
        background-color: #f8f8f8;
        line-height: 20px;
        font-size: 12px;
        color: #777;

        &.current {
          background-color: #c8c8c8;
        }
        
        .song-title {
          flex: 1;
        }
      
        .remove-song, .reorder-song {
          visibility: hidden;
          margin-right: 5px;
        
          .fa {
            line-height: 20px;
            
            &.fa-trash {
              font-size: 14px;
            }
          }
        }
      }
      
      .song:hover .remove-song, .song:hover .reorder-song {
        visibility: visible;
      };
    }
  }
}

.monitor {
  flex: 3;
  margin-left: 30px;
  
  .song {
    flex: 1;
    position: relative;
    margin-bottom: 20px;
    min-height: 500px;

    .black-screen {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);

      &.screen-is-black {
        display: flex;
      }

      .text {
        margin-top: 15px;
        font-size: 65px;
        color: rgba(255, 255, 255, .6);
        -webkit-text-stroke: 1px #000;
        paint-order: stroke fill;
      }
    }
  
    .title {
      margin-bottom: 20px;
      margin-left: 25px;
      font-size: 42px;
      color: $song-title-color;
    }
  
    .verse {
      font-size: 18px;
  
      .verse-number {
        float: left;
        margin-top: 10px;
        margin-left: 10px;
        color: $verse-number-color;
      }
  
      .verse-text {
        margin-left: 25px;
        border: solid 1px transparent;
        padding: 10px 0 10px 10px;
        white-space: pre-wrap;
      }
    
      &.current .verse-text {
        border: solid 1px $white-text;
        background-color: #595d6a;
      }
    }
  }
  
  .control-panel {
    height: 110px;
    width: 100%;
    background-color: #222326;
    font-size: 12px;

    .col {
      padding: 0
    }

    .btn {
      margin: 5px;
      height: 40px;
      width: 40px;
    }

    //.justify-content-end .btn {
    //  margin-right: 2px;
    //}
    //
    //.justify-content-start .btn {
    //  margin-left: 2px;
    //}

    .alert.primary {
      margin: 0;
      color: $white-text;
      background-color: $primary-button-color;
      border-color: $primary-button-color;
    }

    #clear-screen {
      margin: 10px;
      padding: 10px;
      color: gray;
    }
  }
}