body {
  background-attachment: fixed;
  background-image: url(../images/black-diagonal-striped-plastic-texture.jpg);
  font-family: Palatino, Georgia, Times New Roman, serif;
  font-size: 2.5em;
  margin-top: 0; margin-bottom: 0;
  padding-top: 0; padding-bottom: 0;
  overflow: hidden;

  &.white {
    background-color: black;
    color: white;
    -webkit-text-stroke: 4px black;
    paint-order: stroke fill;

    .song {
      .verse { color: #b3b3b3; }
      .current { color: white; }
    }
  }

  &.black {
    background-color: white;
    color: black;
    -webkit-text-stroke: 4px white;
    paint-order: stroke fill;

    .song {
      .verse { color: #333; }
      .current { color: black; }
    }
  }
}

#content {
  position: relative;
  margin: 0;
  padding: 0 50px 0 75px;
}

.title { margin-top: 1em; margin-bottom: 1em; }

.song {
  position: relative;
  transition: top 0.4s ease-in-out, opacity 0.2s ease-in-out;

  &.song-exit {
    opacity: 0;
  }

  .verse-number { display: none; }
  .verse-text {
    padding-bottom: 1em;
    white-space: pre-wrap;
  }
}

#black-screen {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  transition: opacity 0.5s;

  &.screen-is-black {
    opacity: 1;
  }
}
